@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@model IEnumerable<Post>


@{
    ViewData["Title"] = "Blog";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>We are going to have the entries to the blog here.</p>

<div class="row">
    <div class="col-md-8">
        <section>
            <form asp-controller="Post" asp-action="Index" asp-route-returnurl="@ViewData["ReturnUrl"]" method="GET" class="form-horizontal">
                <hr />
                    @foreach (var item in Model)
    {
                <div class="form-group">
                    @Html.DisplayFor(modelItem => item.Title)
                    <p />
                    @Html.DisplayFor(modelItem => item.Content)
                </div>
    }
            </form>
        </section>
    </div>
</div>
